/* media queries (celular) */
@media only screen and (max-width: 768px) {

    .nav-container nav{
        height: 150px;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

}

/* geral */
*{
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
}

body{
    background-color: #fff;
    padding: 1px;
}

h1, h2, h3{
    color: #333;
}

p{
    color: #70747a;
}

/* navbar */

nav{
    width: 100%;
    height: 100px;
    background-color: #232a31;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 100px;
    padding: 15px;
}

.nav-items{
    display: flex;
    align-items: center;
    padding: 0px 20px;
    height: 100px;
}

.nav-items li{
    display: inline-block;
    align-items: center;
    padding: 0px 10px;
    text-transform: uppercase;
}

.nav-items li:last-child{
    padding: 0px;
}

.nav-items li a{
    color: #fff;
    text-decoration: none;
    transition: .3s;
}

.nav-items li a:hover{
    color: #9e9e9e;
}

.default-btn{
    padding: 10px 20px;
    background-color: #52CC7B;
    border-radius: 10px;
}

.nav-items .default-btn:hover{
    background-color: #22bb5f;
    color: #fff;
    padding: 12px 24px;
}

/* main banner*/

.main-banner{
    background-image: url('../mainbanner.png' );
    background-size: cover;
    background-position: center;
    padding: 10rem 0 ;
}

.main-banner h1,
.main-banner p{
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-shadow: #000 2px 20px 10px;
}

.main-banner h1{
    font-size: 3vw;
}
.main-banner p{
    font-size: 1.7vw;
}

main{
    padding: 5px 5px;
}

/* container servicos */

.services-container{
    padding: 5rem 0;
}

.services-container ul{
    display: flex;
    justify-content: space-between;
}

.services-container li{
    flex: 1 1 200px;
    list-style: none;
    text-align: center;
    padding: 20px;
    margin-right: 25px;
}

.fas{
    font-size: 60px;
    margin-bottom: 25px;
}

.fa-shield{
    color: #52CC7B;
}

.fa-rocket{
    color: #ef3f29;
}

.fa-comments{
    color: #ef8f29;
}

.services-container h3{
    margin-bottom: 25px;
}

.services-container p{
    line-height: 24px;
}

/* prices and plans */

.pricing-container{
    padding-bottom: 5rem;
    text-align: center;
}

.pricing-container h2{
    font-size: 36px;
}

.pricing-container p{
    font-size: 20px;
}

.plans-container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 50px auto 0;
}

.plan{
    flex: 1;
    max-width: 275px ;
    margin: 0 20px;
}

.plan ul{
    padding: 0px;
}

.plan li{
    list-style: none;
    height: 50px;
    line-height: 50px;
    background-color: #e8e9ea;
}

.plan .price{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #22bb5f;
    color: #fff;
    text-align: center;
    line-height: 120px;
    margin: 0 auto -50px;
    font-size: 18px;
    position: relative;
}

.plan .plan-name{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #202b34;
    padding: 50px 0 ;
}

.plan .plan-btn{
    background-color: #22bb5f;
    color: #fff;
    font-size: 24px;
    height: 75px;
    line-height: 75px;
    cursor: pointer;
}

.plan .recommended{
    background-color: #f45c57;
}